@import '../../styles/variables.scss';

.button {
  display: flex;
  align-items: center;

  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: $white;
  
  cursor: pointer;

  padding: 19px 40px;
  border: none;
  border-radius: 10px;
  background-color: $primary;

  & svg {
    fill: $white;
  }

  & * {
    margin-right: 16px;
  }
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $primary-dark;
  }

  &:active {
    opacity: 0.7;
  }
}