

.searchBar {
  width: 100%;
  display: flex;
}

.input {
  margin-right: 24px;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .searchBar {
    flex-direction: column;
  }
  .input {
    margin-right: 0;
    margin-bottom: 24px;
  }
}