@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px 0 22px;
  background-color: $primary;
  height: 80px;
}

.wrapper {
  display: flex;
  align-items: center;

  & * {
    margin-right: 24px; 
  }
  :last-child {
      margin-right: 0;
    }
}

.title {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: $white;
}
.hamburger {
  display: none;
  background-color: inherit;
  border: none;
}

.hamburger span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: $white;
  margin: 6px 0;
  transition: 0.4s;
}

.close span:first-child {
  transform: translate(0, 11px) rotate(-45deg);
}

.close span:nth-child(2) {opacity: 0;}

.close span:last-child {
  transform: translate(0, -11px) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}