@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px 0 22px;
  background-color: $primary;
  height: 80px;
}

.wrapper {
  display: flex;
  align-items: center;

  & * {
    margin-right: 24px; 
  }
  :last-child {
      margin-right: 0;
    }
}

.title {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: $white;
}